<h1>Flat</h1>
<ul>
  <% @flats.each do |flat| %>
  <li>
    <h2><%= link_to flat.name, flat_path(flat) %></h2>
    <h3>£<%= flat.price_per_night %></h3>
    <h3>Guests: <%= flat.number_of_guests %></h3>
  </li>
  <% end %>
</ul>
